* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.conteudo {
    padding: 50px;
    width: 60%;
}

.blocoTopico {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    align-items: center;
}

.blocoTopico .tituloTopico {
    font-size: 40px;
    margin: 20px;
}

.imagemTopico img {
    margin-right: 20px;
}

.imagemTopico {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.barra-logo {
    width: 100%;
    border-bottom: 2px solid;
    border-color: rgb(184, 184, 184);
    margin-bottom: 20px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7px;
}

.barra-logo img {
    width: 100px;
    height: 50px;
}

.barra-logo h1 {
    margin-top: 15px;
}

.menu {
    width: 20%;
    height: 100%;
}

.bloco-menu ul {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.bloco-menu ul li {
    padding: 10px;
}

.bloco-menu ul li:hover {
    background-color: rgb(31, 18, 2);
    cursor: pointer;
    color: rgb(255, 238, 170)
}

a {
    text-decoration: none;
    color: black;
}

#topico1 {
    transition: bottom .2s ease-in-out;
}

.botao-pri {
    background-color: rgb(255, 238, 170);
    border-radius: 5px;
    padding: 10px;
    color: black;
    width: 70px;
}

.botao-pri:hover {
    background-color: rgb(224, 209, 149);
    cursor: pointer;
    color: rgb(31, 18, 2)
}

.botao-sec {
    background-color: rgb(31, 18, 2);
    border-radius: 5px;
    padding: 10px;
    color: white;
    width: 90px;
}

.botao-sec:hover {
    background-color: rgb(24, 14, 2);
    cursor: pointer;
    color: rgb(255, 238, 170);
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 20px;
    text-decoration: none;
}

.textoTopico p {
    padding: 20px;
}

input{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(31, 18, 2);
}

select{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(31, 18, 2);
}

.alerta{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(255, 238, 170);
    border-radius: 10px;
    border: 1px solid rgb(224, 209, 149);
    width: 300px;
    padding: 20px;
}

.alerta img{
    width: 30px;
    height: 30px;
    margin: 10px;
}
/*alterado pela nathy
.area{
    position:relative;
    left:10%;
    width:320px;
    height:150px;
}
.area #formulario{
    position:absolute;
    display:block;   
}
fieldset{
    background-color:white;
    width:300px;
    height:70px;
    border: solid 3px rgb(24, 14, 2);
}
legend{
    font-style:bold;
    font-family: 'Segoe UI',Arial,Times New Roman, sans-serif;
}
#formulario label{
    position:absolute;
    left:15px;
    margin-right: 15px;
} 
#formulario input.campo_nome{
    position:absolute;
    left:80px;
    top:27px;
    width:225px;
}
#formulario input.btn_submit{
    position:absolute;
    bottom: 0.5em;
    right:10px;
    background-color: rgb(255, 238, 170);
    border-radius: 5px;
    color: black;
    width: 60px;
}
#formulario input.btn_submit:hover{
    background-color: rgb(224, 209, 149);
    cursor: pointer;
    color: rgb(31, 18, 2);
}
*/